
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
           /* Body */
body{
    background: #f2f2f2;
    /* overflow: hidden;   */
    /*changeit*/
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
       /* Header section */
header{
    position: sticky;
    top: 0px;
    background-color:#000000;
    width: 100%;
    z-index: 1000;
}
.main-sec-part{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url('./images/bg.jpg') no-repeat top center / cover;
    background-attachment: fixed;
    /* overflow: hidden; */
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    /*background-color: rgba(82, 138, 175, 0.5); delete*/
}
.containm{
    max-width: 65rem;
    padding: 0 2rem;
    height: 4rem;    /*changeit*/
    margin: 0 auto;
    display: flex;
    color: white;  /*changeit*/
    position: relative;
}

.logo-containm{
    flex: 1;
    display: flex;
    align-items:center ;
}
.nav-btn{
    flex: 3;
    display: flex;
}
.nav-links{
    flex: 2;
}
.logo-sign{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logom{
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}
.logom span{
    font-weight: 300;
    
}
.text-right{
    font-size: .9rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1;
    display: inline-block;
    padding: 0.5 rem 1.3rem;
    margin: 0 .2rem;
    color: white;
}
.icon-rounded{
    color: cyan;  
}
.icon-rounded:hover{
    transform: scale(1.5);
    cursor: pointer;
}
.nav-links  > ul{
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-link{
    position: relative;
}

.nav-link > a{
    line-height: 4rem;
    color: cyan;
    padding: 0 0.8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.nav-link > a > i{
    margin-left: .2rem;
}
.nav-link:hover{
    transform: scale(1.1);
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(8px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}
.dropdown ul{
    position: relative;
}
.dropdown-link > a{
    display:flex ;
    background: #f2f2f2;
    font-size: .9rem;
    padding: .5rem 1rem;
    color: cyan;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}
.dropdown-link:hover >  a{
    background-color: black;
    color: cyan;
}
.dropdown-link:not(:nth-last-child(4)){
    border-bottom: 1px solid #efefef;
}
.dropdown-link i{
    transform: rotate(-90deg);
}
.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: white;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}
.dropdown-link:first-child:hover ~ .arrow{
    background-color: #000000;
}
.dropdown-link{
    position: relative;
}
.dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px)
}
.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}
.nav-link:hover >.dropdown, .dropdown-link:hover > .dropdown{
    transform: translate(0.0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}
.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div::before, .hamburger-menu div::after{
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color:white;
    border-radius: 3px;
    transition: .5s;
}
.hamburger-menu div::before{
    transform: translateY(-7px);
}
.hamburger-menu div::after{
    transform: translateY(7px);
}
#check{
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}
/* Animated Typing effect */
.header-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}
.header-area h2, h3{
    font-weight:300;
    margin: 0.4rem;
    
}
.header-area h2{
    font-size: 3.5rem;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px white, 0 0 0.5em white, 0 0 0.2em cyan;

}
.header-area h3{
    font-size: 2rem;
    letter-spacing: 1px;
    color: black;
    padding-left: 5rem;
    text-shadow: 1px 1px 2px white, 0 0 0.5em black, 0 0 0.2em cyan;
}




#check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;
}
#check:checked ~ .hamburger-menu-container .hamburger-menu div::before{
    transform: translateY(0) rotate(45deg);
}
#check:checked ~ .hamburger-menu-container .hamburger-menu div::after{
    transform: translateY(0) rotate(-45deg);
}
@keyframes animation{
    form{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@media (max-width: 920px){
    .header-area h2{
        font-size: 2.7rem;
    }
    .header-area h3{
        font-size: 1.7rem;
    }
    .header-area {
        padding: 0 1.5rem;
        text-align: center;
    }
    .nav-btn{
        position: fixed;
        height: 100vh;
        top: 4rem;
        left: 0;
        width: 100%;
        background-color:rgb(34, 33, 33);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }
    #check:checked ~ .nav-btn{
        transform: translateX(0);
    }
    #check:checked ~ .nav-btn .nav-link,
    #check:checked ~ .nav-btn .logo-sign {
        animation: animation .5s ease forwards .6s ;
    }
    .hamburger-menu-container{
        display: flex;
    }
    #check{
        display: block;
    }
    .nav-links{
        flex: initial;
        width: 100%;
    }
    .nav-links > ul{
        flex-direction: column;
    }
    .nav-link{
        width: 90%;
        opacity: 0;
        transform: translateY(15px);
    }
    .nav-link > a{
        line-height: 1;
        padding: 1rem 2rem;
    }
    .nav-link:hover > a{
        transform: scale(1);
        background-color: #313131;
    }
    .dropdown, .dropdown.second{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: rgb(37, 36, 36);
        display: none;
    }
    .nav-link:hover > .dropdown, 
    .dropdown-link:hover > .dropdown{
        display: block;
    }
    .nav-link:hover > a > i, 
    .dropdown-link:hover > a > i{
         transform: rotate(360deg);
    }
    .dropdown.second .dropdown-link >a{
        padding: 1rem 6rem 1rem 6rem;
    }
    .dropdown.second .dropdown.second .dropdown-link >a{
        padding: 1rem 6rem 1rem 8rem;
    }
    .dropdown-link:not(:nth-last-child(4)){
        border-bottom: none;
    }
    .dropdown-link >a{
        background-color: transparent;
        color: cyan;
        padding: 1rem 4rem;
        line-height: 1;
    }
    .arrow{
        z-index: 1;
        background-color:rgb(37, 36, 36) ;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }
    .nav-link:hover  .arrow{
        background-color: #313131;
    }
    .dropdown .dropdown .arrow{
        display: none;
    }
    .dropdown-link:hover > a{
        background-color: #353434;
    }
    .dropdown-link:first-child:hover ~ .arrow{
        background-color: #313131;
    }
    .nav-link >a > i{
      font-size: 1.1rem;
      transform: rotate(-90deg);
      transition: .7s;
    }
    .dropdown i{
        font-size: 1rem;
        transition: .7s;
    }
    .logo-sign{
        flex: initial;
        width: 100%;
        height: 14rem;
        padding: 1.5rem; /*Change it*/
        justify-content: center;
        opacity: 0;
        transform: translateY(15px);
    }
    .text-right{
        color: cyan;
    }
    /* .nav-link > a{
        line-height: 2rem;
    }*/
    /* .logom{
        line-height: 1rem;
        margin: 2px;
        padding: 2px;
    }  */
}

.section1-container{
    margin: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.section-icons{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly; /*change*/
    align-items: center;
    flex-direction: column;
}

.s-box-icon img{
    height: 150px;
    position: -10px 0px;
    text-align: center;
    margin-right: 10px;
    padding-top: 5%;
}
.s-box-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 350px;
    height: 400px;
    padding: 20px 25px;
    box-sizing: border-box;
    margin: 30px;
    /* box-shadow: 2px 2px 30px rgba(0,0,0, 0.2); */
    position: relative;
}
.s-box-icon h1{
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 8px;
}
.s-box-icon p{
    text-align: center;
    /* margin-bottom: 8px; */
}
.s-box-icon > .price{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;

}
.s-box-icon:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0, 0.2);
    /* box-shadow: 2px 2px 30px rgba(0,0,0, 0.8); */
    cursor: pointer;
    transition: all 0.3s ease;
}
@media(max-width:1050px){
    .s-box-container{
        flex-wrap: wrap;
    }
    .section-icons{
        height: auto;
    }
    .s-heading{
        margin: 15px;
    }
    .s-box-icon{
        flex-grow: 1;
    }
}
       /*Section Part 2 3-images*/
.textimonials{
    min-height: 60vh;   /*Here 100vh*/
    background-color: #000000;
    float: left;
    width: 100%;
    padding: 80px 10px;  /*Here 100px 15px*/
}
.second-container{
    max-width: 1170px;
    margin: auto;
}
.textimonials .second-title{
    margin-bottom: 60px;
}
.textimonials .second-title h1{
    text-align: center;
    color: #ffffff;
    font-size: 38px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
}
.textimonials .slider{
    border: 1px solid #333333;
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 20px;  
    border-radius: 25px;
}

.textimonials .slider p{
    font-size: 15px;
    color: #ffffff;
    word-spacing: 2px;
}
.textimonials .slider .slide-info h3{
    font-weight:bold;
    color: white;
    font-size: 17px;
    margin: 15px 0 6px;
}
.textimonials .slider .slide-info span{
    display: block;
    font-size: 16px;
    color: #11bead;
}
.textimonials .slider-indicator{
    text-align: center;
    padding: 20px;
}
.textimonials .slider-indicator img{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 8px;
    border: 4px solid #ffffff;
    cursor: pointer;
    transition: all 1s ease;
}
@media(max-width:1050px){
    .second-container{
        flex-wrap: wrap;
    }
    textimonials{
        height: auto;
    }
    .second-title{
        margin: 15px;
    }
    .slider{
        width: 300px;
        height: 250px;
    
    }
}





/* section part 3 */
.service-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.s-heading{
    text-align: center;
}
.s-heading h1{
    color: #576975;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px;
}
.s-heading p{
    color: rgba(87, 105, 117, 0.6);
    font-size: 1rem;
    margin:5px;
    text-align: center;
}
.s-box-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-box img{
    height: 75px;
}
.s-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    padding: 20px 25px;
    box-sizing: border-box;
    margin: 30px;
    box-shadow: 2px 2px 30px rgba(0,0,0, 0.2);
    position: relative;
}
.s-box h1{
    color: #576975;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 8px;
}
.s-box p{
    color: rgba(87, 105, 117, 0.9);
    text-align: center;
}

.s-btn{
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(74, 144, 226,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(23, 23, 197);
    text-decoration: none;
    margin-top: 10px;
}

.s-box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0, 0.8);
    transition: all 0.3s ease;
}
.s-btn:hover{
    background-color: #FAD20A;
    border: 1px solid #FAD20A ; /*later use #4a90e2 */
    color: #ffffff;
    transition: all 0.3s ease;
    text-decoration:none ;
}
.bar{
    width: 100px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    background-color: #000000;
    border-radius: 0px 0px 10px 10px;
    display: none;
    animation: bar 0.5s;
}
 .s-box:hover .bar{
     display: block;
 }

@keyframes bar{
    0%{
        width: 0px;
    }
    100%{
        width: 100px;
    }
}

@media(max-width:1050px){
    .s-box-container{
        flex-wrap: wrap;
    }
    .service-section{
        height: auto;
    }
    .s-heading{
        margin: 15px;
    }
    .s-box{
        flex-grow: 1;
    }
}

/* Before footer Section */
.service-section-last{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.s-heading-last{
    text-align: center;
}
.s-heading-last h1{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px;

}
.s-heading-last p{
    font-size: 1rem;
    margin:5px;
    text-align: center;
}
.s-box-container-last{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-box-last img{
    height: 75px;
    justify-content: left;
}
.s-box-last{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 250px;
    padding: 10px 10px;
    box-sizing: content-box;
    /* margin: 30px; */
    position: relative;
}

.s-box-last h1{
    letter-spacing: 1px;
    font-size: 1rem;
    margin-bottom: 8px;
    text-align: center;
}
 
.last-p p{
    text-align: center;
    font-size: 0.8rem;
}
.s-box-last:hover{
    border-radius: 10px;
    box-shadow: 0.1rem 0.7rem 2rem rgba(0, 0, 0, 0.3) !important;
    transition: all 0.3s ease;
}


@media(max-width:1050px){
    .s-box-container-last{
        flex-wrap: wrap;
        /* display: flex; */
    }
    .service-section-last{
        height: auto;
    }
    .s-heading-last{
        margin: 15px;
    }
    .s-box-last{
        /* flex-grow: 1; */
        width: 300px;
        height: 200px;
    }
    .last-p p{
        text-align: center;
    }
}
        
  /* 2 User Section : What People thinks about us*/

.imgBox img{
    max-width: 150px;
    max-height: 150px;

}

.think-about-us{
    
    min-height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #f5f5ff; /*delete if u dont like it*/
    flex-direction: column;
}
.text-two-container{
    /* width:1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 25px;
    box-sizing: border-box;
    padding: 25px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.text-two-container .item-box{
    /* position: relative;
    padding:50px 40px 40px;
    transition:all 0.5s ease;
    text-align: center;
    background: #fff;
    border-radius: 25px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 600px;
    height: 250px;
    padding: 20px 25px;
    box-sizing: border-box;
    margin: 30px;
    background: #fff;
    /* box-shadow: 2px 2px 30px rgba(0,0,0, 0.2); */
    position: relative;
}
.text-two-container .item-box:hover{
    background: #FAD20A;
    cursor: pointer;
}
.text-two-container .item-box:hover h4, 
.text-two-container .item-box:hover p,
.text-two-container .item-box:hover span{
    color: #000000;
}
.text-two-container .item-box p{
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
}
.text-two-container .item-box h4{
    margin: 20px 0 0;
    padding: 0;
    transition: all 0.5s ease;
    font-size: 1rem;
    font-weight: 700;
    line-height: 20px;
}
.test-container span{
    color: #FAD20A;
    font-weight: 600;
    transition: 0.5s;
}
.text-two-container .item-box .imgBox{
    position: absolute;
    top: -40px;
    right: 10px;
    transform:translateX(-20%) ;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.test-heading{
    text-align: center;
}
.test-heading h1{
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px;
}
.test-heading p{
    color: rgba(53, 62, 68, 0.6);
    font-size: 1rem;
    margin:5px;
    text-align: center;
    padding-bottom: 30px;
}

@media (max-width:800px){

    .text-two-container {
        flex-direction: column;

    }
    .text-two-container .item-box{
        width: 400px;
        height: 300px;
    }

}

@media (max-width:600px){

    .text-two-container {
        flex-direction: column;

    }
    .text-two-container .item-box{
        width: 400px;
        height: 300px;
    }

}





                     /* About Us Section */
.about-us{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #f2f2f2;
   width: 100%;
}

.about-section{
    background: url(/images/comp.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 80px;
}
.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    word-spacing: 2px;
}
.text{
    font-size: 14px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 14px;
}
.about-btn{
    margin-top: 30px;
    justify-items: center;
}

@media screen and (max-width:1300px){
    .inner-container{
        padding: 75px;
    }
}
@media screen and (max-width:1000px){
    .inner-container{
        width: 100%;
    }
    .about-section{
        background-size: 100%;
        padding: 40px 20px;
    }
}
@media screen and (max-width:600px){
    .inner-container{
        padding: 60px;
    }
    .about-section{
        padding: 0px;
    }
}